<div id="topBar">
  <div class="logo">
    <img src="<%= require('@/assets/imgs/blocktop_logo_white.png') %>" alt="">
  </div>
  <div class="nav">
    <span></span>
    <div class="my-shadow"></div>
    <div class="nav-list">
      <div name="home" class="nav-con nav-active">HOME</div>
      <div name="about" class="nav-con">ABOUT</div>
      <div name="services" class="nav-con">SERVICES</div>
      <div name="impact" class="nav-con">IMPACT</div>
      <div name="contact" class="nav-con">CONTACT</div>
    </div>
  </div>
</div>