<%= require('#/getHtml.js').up({title: '这里是首页'}) %>

<div id="index">
  <%= require('@/components/topBar/index.ejs')() %>
  <div class="index-box">
    <div class="home">
      <div>
        <div class="text-box_new">
          <div>BlockTOP</div>
          <div>Transcend the Crypto</div>
          <div>Universe</div>
        </div>
        <span><img src="<%= require('@/assets/imgs/down2.png') %>" alt=""></span>
      </div>
    </div>
    <div class="about">
      <div>
        <h2>ABOUT US</h2>
        <h3>BlockTOP is a leading full-stack crypto financial service firm.</h3>
      </div>
    </div>
    <div class="services">
      <div>
        <h2>OUR SERVICE</h2>
        <div class="services-content">
          <div>
            <div></div>
            <h3>SALES &amp; TRADING</h3>
            <p>Clients come to BlockTOP for sales, trading, and market- making services for crypto secondary market.
              BlockTOP professionals use our network and technology to provide liquidity and sophisticated analysis, to
              manage risk and execute reliably in the fast-changing markets.</p>
          </div>

          <div>
            <div></div>
            <h3>QUANTITATIVE STRATEGIES</h3>
            <p>BlockTOP`s quantitative strategies seek to generate pure alpha and smart beta by combining rigorous
              fundamental research with mathematical and statistical models to identify and execute on investment
              opportunities.</p>
          </div>

          <div>
            <div></div>
            <h3>HEDGE FUND SOLUTIONS</h3>
            <p>BlockTOP the world's leading discretionary investor in crypto hedge funds. BlockTOP aims to provide its
              clients with investment solutions via various different means, including customized and commingled portfolio
              management solutions.</p>
          </div>

          <div>
            <div></div>
            <h3>TACTICAL OPPORTUNITIES</h3>
            <p>Tactical Opportunities seek to capitalize on global investment opportunities that are time-sensitive,
              complex, or in dislocated markets where BlockTOP believes risk is fundamentally mispriced.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="impact">
      <div>
        <h2>BLOCKTOP IMPACT</h2>
        <div class="impact-content">
          <div>
            <div></div>
            <h3>Global Perspective</h3>
            <p>Our access to BlockTOP`s global perspective provides robust perspective on the crypto marketplace, we
              incorporate these insights into the strategies we develop for our clients.</p>
          </div>

          <div>
            <div></div>
            <h3>Trinity of Research, Investment and Trading</h3>
            <p>BlockTOP will share insights with BlockLabs and BlockVC to achieve synergy and collaboration between primary
              and secondary market investments. </p>
          </div>

          <div>
            <div></div>
            <h3>Advanced Database</h3>
            <p>Full access to order books and liquidity of all major crypto exchanges with API keys well connected.
              Extensive data analytics from diverse sources.Minimized latency for order execution.</p>
          </div>

          <div>
            <div></div>
            <h3>Competent FinTech Capabilities</h3>
            <p>More than 5-year trading experiences, keep pursuing absolute return by exploiting machine learning and
              data-driven methods.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact">
      <div class="logo"></div>
      <p>Contact us : info@blocktop.com</p>
      <div class="copyright">
        <div class="con">
          <div class="left">@blocktop.com, 2018, All rights reserved.</div>
          <div class="right">Beijing | Singapore | London | Silicon Valley</div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= require('#/getHtml.js').down() %>